<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srikanth.glassEE2.captions">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="Captions"
        android:theme="@style/Theme.Captions"
        android:icon="@android:drawable/sym_def_app_icon"
        android:roundIcon="@android:drawable/sym_def_app_icon">

        <activity
            android:name="com.srikanth.glassEE2.captions.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.srikanth.glassEE2.captions.stt.CaptionService"
            android:exported="false" />
        <!-- NOTE: removed android:foregroundServiceType to support lower compileSdk -->
    </application>
</manifest>
